Source: data-router
Section: misc
Priority: extra
Maintainer: Hocheol Seo <hocheol.seo@samsung.com>, InJun Yang <injun.yang@samsung.com>, Seungyoun Ju <sy39.ju@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libslp-setting-dev, dlog-dev, libssl-dev
Standards-Version: 3.7.2

Package: data-router-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Data Router
 For USB serial communication, reads/writes usb node and routes them to Socket client application


Package: data-router-bin-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, data-router-bin (=${Source-Version})
Description: Data Router (unstripped)
 For USB serial communication, reads/writes usb node and routes them to Socket client application

